<div class = "jumbotron">

	<div class="alert alert-info" role="alert">
<h4><font size = "3"><p align = "center"> Login </font></p></h4></div>
<div class="alert alert-success" role="alert">
<%= form_tag sessions_path do%>
	<div class="field">
		<p align = "center"><font size = "2"><%= label_tag :email %></font><br></p>
		<p align = "center"><font size = "2"><%= text_field_tag :email %></font></p>
	</div>
	<div class="field">
		<p align = "center"><font size = "2"><%= label_tag :password %></font><br></p>
		<p align = "center"><font size = "2"><%= password_field_tag :password %></font></p>
	</div>
	<div class="actions">

<div class="alert alert-danger" role="alert">	
		<p align = "center"><font size = "2"><%= submit_tag "Log in"%></font></p></div>
	</div>
<% end %>
</div>
</div>
</div>
