<%= link_to 'New article', new_article_path %>


<h1>Listing articles</h1>
 
<table style="border-collapse: collapse; font-size:14px" border="1px" cellpadding="10px">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>