<div class = "jumbotron">
  
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <h4><li><%= message %></li></h4>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

<br><div class="alert alert-success" role="alert">
<p align="center"><font size = "3">Users </font></p>
</div>
<div class="alert alert-info" role="alert">

  <div class="field">
    <p align = "center"><font size = "2"><%= f.label :first_name %></font></p>
    <p align = "center"><font size = "2"><%= f.text_field :first_name %></font> </p>
  </div>
  <div class="field">
    <p align = "center"><font size = "2"><%= f.label :last_name %></font></p>
    <p align = "center"><font size = "2"><%= f.text_field :last_name %></font></p>
  </div>
  <div class="field">
    <p align = "center"><font size = "2"><%= f.label :email %></font></p>
    <p align = "center"><font size = "2"><%= f.text_field :email %></font></p>
  </div>
  <div class="field">
    <p align = "center"><font size = "2"><%= f.label :password %></font></p>
    <p align = "center"><font size = "2"><%= f.password_field :password %></font></p>
  </div>
  <div class="field">
  <p align = "center"><font size = "2"><%= f.label :password_confirmation %></font></p>
   <p align = "center"><font size = "2"><%= f.password_field :password_confirmation %></font></p>
  </div>
  <div class="actions">
    <div class="alert alert-danger" role="alert">
<p align = "center"><font size = "2"><%= f.submit %></font></p></div>
          
  </div>
  <% end %> 
</div>
</div>
</div>



