<div class = "jumbotron">
	<div class="alert alert-success" role="alert">
<p>List of Users</p><br>
    <% @users.each do |user| %>
    First Name :   
  <%= user.first_name %><br><br>
    Last Name:
  <%= user.last_name %><br><br>
    Email :
  <%= user.email %><br><br>
        <div class="alert alert-warning" role="alert"><p align = "center"><font size = "2"><%= link_to 'Show', user %></font></p></div></br></br>
        <% end %>   
</div>
</div>

