<div class = "jumbotron">
	<div class="alert alert-success" role="alert">
First name:
  <%= @user.first_name %><br><br>
Last name:
  <%= @user.last_name %><br><br>
Email:
  <%= @user.email %><br><br>

<p align="right"><font size="2"><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> </font> </p>
</div>
</div>
