<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class = "jumbotron"><div class="alert alert-success" role="alert">
	<p>One piece story </p> <br>
Greatness, Glory, Gold. A Pirate Named Gold Roger also known as the Pirate King has conquered this all. He was executed with an unknown reason but before he died he had revealed his last word about The legendary Treasure named One Piece which was hidden in the Grand Line. 22 years after his Death, A Pirate named Monkey D. Luffy appeared and has only one Goal, To Become the Next "Pirate King" and Find The Treasure "One Piece". This Start The Never Ending Adventure. Monkey D. Luffy, inspired by his childhood hero "Red-Haired" Shanks, sets out on a journey to find the legendary treasure One Piece, to become the new Pirate King, and after eating the devil's fruit gains the power to do so. To accomplish this, he must reach the end of the most deadly and dangerous ocean: The Grand Line. But first he must find a crew.
</br>
</br>
During the course of the story, the crew contend with both other less moral pirate crews and the Marines. The latter are the subordinates of the World Government, who seek justice by ending the Golden Age of Pirates. Many background story elements involve the delicate balance of power between the World Government and the world's most powerful pirate crews. Also, the Craziest Crew in the world .
<br>
<br>
Snaps
	<%= image_tag("9.jpg", :alt => "rss feed") %>
	<%= image_tag("10.jpg", :alt => "rss feed") %>
	<%= image_tag("12.jpg", :alt => "rss feed") %>

	<br><br>
So, please signup and start posting blogs and forums regarding the most popular one piece anime.

</br>

</div></div>
<div class="alert alert-danger" role="alert"><p align = "center"><font size="2">Copyright Sudip Rai, 2016</font></p></div>




