<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class = "jumbotron">
<div class="alert alert-success" role="alert">
Hello this is the dashboard. You can post your blogs, thoughts and forums by clicking in the blog menu bar. Feel free to share your ideas, thoughts and what goes on in the upcoming episodes of One Piece. You can post you queries and theories etc.. and communicate with other manga readers and viewers. Keep reading and watching. </br></br> Snaps

	<%= image_tag("13.jpg", :alt => "rss feed") %>
	<%= image_tag("12.jpg", :alt => "rss feed") %>
	<%= image_tag("11.jpg", :alt => "rss feed") %>
</div>
</div>


