<div class = "jumbotron">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      
      <ul>
      <% @post.errors.full_messages.each do |message| %>
       <h4> <li><%= message %></li> </h4>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="alert alert-info" role="alert"> <p align="center"><font size="3"> Blogs </font></p></div>
   <div class="alert alert-success" role="alert">
    <div class="field">
       <p align = "center"> <font size = "2"><%= f.label :title %><br></font></p>
    <p align = "center"><font size = "2"><%= f.text_field :title %></font></p>
  </div>
  <div class="field">
    <p align = "center"><font size = "2"><%= f.label :content %><br></font></p>
    <p align = "center"><font size = "2"><%= f.text_area :content %></font></p>
  </div>
  <div class="actions"> 
     <div class="alert alert-danger" role="alert">
  <p align = "center"> <font size = "2"><%= f.submit %></font></p></div></div>
  </div>
<% end %>
</div>

