<div class = "jumbotron">

<% if current_user %>
<div class="alert alert-success" role="alert"><%= link_to 'Click here to create a new blog', new_post_path %></div>
<% end %><br>
<div class="alert alert-info" role="alert">

<h4>List of Blogs</h4>
<div class="alert alert-danger" role="alert">
Note : After login, you can only edit and delete the blog if you have posted that personally from your account. The other users can only view them. Each blog is authorized by their own users.  So, once you upload a blog , you have the full authority to edit and delete if you login from your account whereas other users only have the permission to read the blog.<br> <br></div>
   <% @posts.each do |post| %>
      Posted by : <%= post.user %> <br><br>
      Title : <%= post.title %> <br><br>
      Content : <%= post.content %> <br> <br>
    <div class="alert alert-warning" role="danger">
      <p align="center"> <font size = "2">
      <%= link_to 'Show', post %>
      <% if current_user && post.user == current_user %><%= link_to 'Edit', edit_post_path(post) %><% end %></td>
      <% if current_user && post.user == current_user %><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %><% end %> </font> </p>  </div>  
      <br><br>
    <% end %>
</div>
</div>





