<div class = "jumbotron">
	<div class="alert alert-success" role="alert">
Posted by : 
  <%= @post.user %>
<br><br>
 Title : 
 <%= @post.title %>
<br><br>  
 Content :
 <%= @post.content %>
<% if current_user && @post.user == current_user %><br><br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
</div>
</div>
