<!DOCTYPE html>
<html>
<head>
  <title>Sdpblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
  
<div id="user_header">
	 <div class="container">
      <div class="header clearfix">
        <nav>
        	<br>
        	<br>
            <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
            <li role="presentation" class="active"><%= link_to 'Blogs', posts_path %></li>
		      	<li role="presentation" class="active"><%= link_to 'Userlist', users_path %></li>            
            <% if current_user %>
            <li role="presentation" class="active"><%= link_to 'Dashboard', new_dashboard_path %></li>
           	<li role="presentation"class="active"><%= link_to "Log out", logout_path %></li> </br>
           </br><div class="alert alert-success" role="alert"> Logged in as <%= current_user.email %> </div>
  </ul>
		<% else %>          
            <li role="presentation" class ="active"><%= link_to "Log in", login_path %></li>
            <li role="presentation"class="active"><%= link_to "Sign_up", signup_path %></li>
          </ul>
        </nav>
        <% end %>
        <h3> One Piece Blog</h3>
    </br></br>
    <% flash.each do |key, value| %>
	<%= content_tag(:div, class: "alert alert-#{key}") do %>
	<p> <%= value %> </p>
<% end %>
<% end %>	
<%= yield %>
      </div>
	</div>
</div>
	</body>
</html>
